{%include 'header.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">EMPLEADOS</div>
        {%if empleados%}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fono</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for emp in empleados%}
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.nombre}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.fono}}</td>
                    <td>
                        <a href="../view-empleado/{{emp.id}}"
                          class='btn btn-success'><i class="bi bi-eye"></i>
                       </a>
                    </td>
                    <td>
                        <a href="../update-empleado/{{emp.id}}"
                          class='btn btn-warning'><i class="bi bi-pencil"></i>
                       </a>
                    </td>
                    <td>
                        <a href="../delete-empleado/{{emp.id}}"
                          class='btn btn-danger'><i class="bi bi-trash"></i>
                       </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Empleados!!!!</div>
        {%endif%}
        <a href="../create-empleado/" class="btn btn-success">Agregar</a>
        </div>    
{%include 'footer.html'%}       