{% include 'header.html' %}
<div class='container mt-5'>
    <div class="alert alert-danger display-1">Eliminar Sucursal</div>
    <p>¿Estás seguro que deseas eliminar la sucursal con los siguientes datos?</p>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td>{{ sucursal.id }}</td>
        </tr>
        <tr>
            <th>Sucursal Código</th>
            <td>{{ sucursal.SUCCODIGO }}</td>
        </tr>
        <tr>
            <th>Sucursal Nombre</th>
            <td>{{ sucursal.SUCNOMBRE }}</td>
        </tr>
        <tr>
            <th>Código Ciudad</th>
            <td>{{ sucursal.CIUCODIGO.CIUCODIGO }}</td>
        </tr>
        <tr>
            <th>Nombre Ciudad</th>
            <td>{{ sucursal.CIUCODIGO.CIUNOMBRE }}</td>
        </tr>
    </table>
    <form method="POST" action="/sucursalDelete/{{ sucursal.id }}/">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/sucursal/" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% include 'footer.html' %}

