{%include 'header.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">TIPO CURSO</div>
        <table class="table table-striped">
          <tr><td>ID</td><td>{{tipocursos.id}}</td></tr>
          <tr><td>TIPCURCODIGO</td><td>{{tipocursos.TIPCURCODIGO}}</td></tr>
          <tr><td>TIPCURNOMBRE</td><td>{{tipocursos.TIPCURNOMBRE}}</td></tr>
          <tr><td>TIPCURVALOR</td><td>{{tipocursos.TIPCURVALOR}}</td></tr>
        </table>
       <a href="../tipo cursos/" class="btn btn-success">Volver</a>
    </div>
{%include 'footer.html'%}